a{
  color: blue;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
a.blogtitlelink{
  color:white;
  text-decoration: underline;
}
a.blogtitlelink:hover{
  color:black;
  background-color:white;
}
body{
  background-color: black;
  color: white;
}
